<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notify-Demo</title>
	<link rel="stylesheet" href="demo.css">
	<link rel="stylesheet" href="styles/css/angular-ask-fullscreen.min.css" id="askTheme">
</head>
<body ng-controller="DemoController">
	<div class="demo">
		<header>
			<h1>Angular-Ask Demo Page</h1>
			<div class="theme-select">
				<button data-theme="fullscreen" class="theme-change active">Fullscreen Theme</button>
				<button data-theme="md" class="theme-change">Material Design Theme</button>
			</div>
		</header>
		<div class="event-trigger">
			<h4>Event Triggers:</h4>
			<table>
				<tr>
					<td ng-click="eventTrigger($event)">Success Notify</td>
					<td ng-click="eventTrigger($event)">Success Notify Without Content</td>
				</tr>
				<tr>
					<td ng-click="eventTrigger($event)">Information Notify</td>
				</tr>
				<tr>
					<td ng-click="eventTrigger($event)">Warning Notify</td>
					<td ng-click="eventTrigger($event)">Warning Notify Without Content</td>
				</tr>
			</table>
		</div>
	</div>
	<footer>
		<p>Project Page &nbsp; <a href="https://github.com/cheiron1990/angular-ask">https://github.com/cheiron1990/angular-ask</a></p>
	</footer>
	<script src="scripts/vendor/jquery.min.js"></script>
	<script src="scripts/vendor/angular.min.js"></script>
	<script src="scripts/dist/angular-ask.min.js"></script>
	<script type="text/javascript">
		angular.module('demoApp', ['angularAsk']).controller('DemoController', ['$scope', function($scope){
			$scope.eventTrigger = function(e){
				
			};
		}]);
		$(document).ready(function(){
			$('.theme-change').click(function(e){
				var theme = e.target.getAttribute('data-theme');
				var css = document.getElementById('askTheme');
				switch(theme){
					case 'md':
						css.setAttribute('href','styles/css/angular-ask-material.min.css');
						$('.theme-select button').removeClass('active');
						$(e.target).addClass('active');
						break;
					default:
						css.setAttribute('href','styles/css/angular-ask-fullscreen.min.css');
						$('.theme-select button').removeClass('active');
						$(e.target).addClass('active');
				}
			});
			angular.bootstrap(document, ['demoApp']);
		});
	</script>
</body>
</html>